In [20]:
def GetFileName(city, case):
    suf = {"max": "X", "min": "N", "mean": "G"}
    return "T{}_{}.txt".format(suf[case], city)

def SkipFirstLines(file):
    cnt = 0
    for line in file:
        cnt += 1
        if cnt == 19:
            return

cities = ["Oxford"]
cases = {"Bologna": ["max", "min", "mean"], 
         "Prague": ["max", "min", "mean"], 
         "Uccle": ["max", "min"], 
         "Milan": ["max", "min", "mean"],
         "Jena": ["max", "min", "mean"],
         "Oxford": ["max", "min", "mean"]}

for city in ["Prague"]:
    for case in ["mean"]:
        file_input = GetFileName(city, case)
        file_output = file_input[:-4] + "_formatted.txt"
        f_in = open(file_input, "r")
        f_out = open(file_output, "w")
        SkipFirstLines(f_in)        
        for line in f_in:
            row = line.split(",")
            date, temperature = row[2], float(row[3]) / 10
            year, month, day = int(date[:4]), int(date[4:6]), int(date[6:])
                    
            # если данные вообще есть
            if int(row[4]) != 9 and (month, day) != (2, 29):
                print(line, end="", file=f_out)        
        
        f_in.close()
        f_out.close()

In [17]:
file = open("zip/sources_tn.txt", "r")
cnt = 0
for line in file:
    cnt += 1
    if cnt == 24:
        break
        
for line in file:
    start, finish = int(line[82:86]), int(line[91:95])
    city = line[7:47]
    if start < 1840 and finish > 2000:
        print(city, start, finish)
file.close()

PRAHA-KLEMENTINUM                        1775 2005
JENA STERNWARTE                          1824 2020
BOLOGNA                                  1814 2003
RADCLIFFE METEOROLOGICAL STATION OXFORD  1815 2019
MILAN                                    1763 2008
UCCLE                                    1833 2011

In [16]:
file = open("zip/sources_tg.txt", "r")
cnt = 0
for line in file:
    cnt += 1
    if cnt == 24:
        break
        
for line in file:
    start, finish = int(line[82:86]), int(line[91:95])
    city = line[7:47]
    if start < 1840 and finish > 2000:
        print(city, start, finish)
file.close()

STOCKHOLM                                1756 2003
PRAHA-KLEMENTINUM                        1775 2020
HOHENPEISSENBERG                         1781 2020
JENA STERNWARTE                          1824 2020
BOLOGNA                                  1814 2003
RADCLIFFE METEOROLOGICAL STATION OXFORD  1815 2019
MILAN                                    1763 2008
PRAHA-KLEMENTINUM                        1775 2004

In [15]:
file = open("zip/sources_tx.txt", "r")
cnt = 0
for line in file:
    cnt += 1
    if cnt == 24:
        break
        
for line in file:
    start, finish = int(line[82:86]), int(line[91:95])
    city = line[7:47]
    if start < 1840 and finish > 2000:
        print(city, start, finish)
file.close()

PRAHA-KLEMENTINUM                        1775 2005
JENA STERNWARTE                          1824 2020
BOLOGNA                                  1814 2003
RADCLIFFE METEOROLOGICAL STATION OXFORD  1815 2019
MILAN                                    1763 2008
UCCLE                                    1833 2011